@media only screen and (min-width: 500px) and (max-width: 1201px) {
  body {
    font-size: 1.4rem;
  }

  .formContent {
    flex-direction: column-reverse;
    gap: 1rem;
    min-width: 65vw;
    margin: 1rem auto;
    padding: 0;
    border-radius: 0;
  }

  .formBox {
    padding: 1rem 4rem 3rem 3rem;
  }


  .formHeader {
    margin-top: 1rem;
  }

  .formHeader h1 {
    font-size: 2.8rem;
    letter-spacing: 1.5px;
    margin-bottom: 1rem;
  }

  .formTextBox {
    line-height: 2;
  }

  .formList {
    display: flex;
    align-items: center;
    line-height: 1.3;
  }

  #submitBtn {
    padding: 1rem 2rem;
    font-size: 1.2rem;
  }

  .formImageBox {
    width: 100%;
  }

  .formImageBox img {
    content: url("./assets/images/illustration-sign-up-mobile.svg");
    object-fit: cover;
    object-position: center;
  }

  /* success message style */
  #successMsgContainer {
    height: 100%;
    top: 48%;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .successMsgContent {
    width: 100%;
    height: 100%;
    /* margin: 4rem; */
    justify-content: space-around;
    border-radius: 0;
  }

  .errorText {
    display: none;
    color: var(--primary);
    font-size: 1.2rem;
    font-weight: lighter;
    position: absolute;
    left: 55%;
  }

}

@media only screen and (max-width: 500px) and (min-width: 320px) {

  body {
    overflow-y: hidden;
  }

  .formContent {
    min-width: 90vw;
    flex-direction: column-reverse;
    margin: 0 auto;
    padding: 0;
  }

  .formHeader {
    margin-top: .5rem;
  }

  .formHeader h1 {
    font-size: 2.6rem;
    letter-spacing: 1.5px;
    margin-bottom: 1rem;
  }

  .formBox {
    padding: .5rem 2rem 1rem 1rem;
  }

  .formImageBox {
    width: 100%;
  }

  .formTextBox {
    font-size: 1.4rem;
    line-height: 1.2;
  }

  .formList {
    align-items: flex-start;
  }

  .formImageBox img {
    content: url("/assets/images/illustration-sign-up-mobile.svg");
  }

  .attribution {
    font-size: 1.2rem;
    margin-top: 1rem;
    padding: 1rem 0;
  }

  .errorText {
    left: 50%;
  }

  #successMsgContainer {
    height: 100%;
    top: 48%;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .successMsgContent {
    width: 100%;
    height: 100%;
    /* margin: 4rem; */
    justify-content: space-around;
    border-radius: 0;
  }
}